*{
	margin: 0;
	padding: 0;
}
#con{
	width: 100%;
	min-width: 1226px;
	height: 810px;
}
#nav{
	width: 100%;
	height: 40px;
	background: #333;
}
#nav-main{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
#nav-left{
	float: left;
	width: 770px;
	height: 40px;
}
#nav-right{
	float: right;
	width: 143px;
	height: 40px;
}
#nav-left ul,#nav-right ul{
	margin: 0;
}
#nav-left li,#nav-right li{
	list-style: none;
	float: left;
	margin-left: 6.9px;
	font-size: 12px;
	line-height: 40px;
	color: #424242;
}
#nav-left li a:link,#nav-right li a:link{
	color: #b0b0b0;
}
#nav-left li a:hover,#nav-right li a:hover{
	text-decoration: none;
	color: white;
}
#nav-left li a:visited,#nav-right li a:visited{
	color: #b0b0b0;
}
#nav-left li a:focus,#nav-right li a:focus{
	text-decoration: none;
}
#nav-cart{
	width: 120px;
	height: 40px;
	float: right;
	margin-left: 15px;
	position: relative;
}
#cart{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	color: #B0B0B0;
	line-height: 40px;
	background: #424242;
	font-size: 12px;
}
#cart span{
	margin-right:5px;
}
#cart:hover{
	text-decoration: none;
	background: white;
	color: #FF6700;
}
#cart:focus{
	text-decoration: none;
}
#cart-main{
	width: 316px;
	height: 100px;
	left: -196px;
	z-index: 1;
	position: absolute;
	box-shadow: 0 2px 10px rgba(0,0,0,.15);;
	transform: scaleY(0);
	transform-origin: 0px 0px;
	transition: all 0.5s;
	background: white;
}
#nav-cart:hover #cart-main{
	transform: scaleY(1);
	line-height: 100px;
	color:#333 ;
}
#download{
	position: absolute;
	width: 124px;
	height: 149px;
	background: #FFFFFF;
	box-shadow: 0 1px 5px #aaa;
	left: -39px;
	padding: 17px;
	transform: scaleY(0);
	transform-origin: 0px 0px;
	transition: all 0.5s;
	z-index: 1;
}
#download-sj{
	display: block;
	position: absolute;
	color: #FFFFFF;
	top:32px;
	left: 17px;
	visibility: hidden;
}
#download span{
	display: block;
}
#download-a:hover #download{
	transform: scaleY(1);
	color: #333;
	text-align: center;
	font-size: 14px;
}
#download-a:hover #download-sj{
	visibility: visible;
}

#head{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
#head #logo{
	position: relative;
	width: 55px;
	height: 55px;
	background: #FF6700;
	float: left;
	margin-top: 22px;
	cursor: pointer;
    overflow: hidden;
}
#head #logo img{
	width:49px;
	height:49px;
	position: absolute;
	margin: 3px;
}
#head #logo #mi-home{
	left: -60px;
}
#head-nav{
	float: left;
	width: 614.7px;
	height: 100px;
	padding-top: 12px;
	margin-left: 179.7px;
}
#head-nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#head-nav ul li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 88px;
	font-size: 16px;
}
#head-nav ul li a:link{
	color: #333;
}
#head-nav ul li a:hover{
	color: #FF6700;
	text-decoration: none;
}
#head-nav ul li a:focus{
	text-decoration: none;
}
#head-search{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 30px;
	background: red;
}
#head-search-input{
	width: 243px;
	height: 50px;
	padding: 0 10px;
	font-size: 14px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
}
#head-search-input:focus{
	outline: none;
}
#head-search-button{
	padding: 13px 18px;
	width: 53px;
    height: 50px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-left: 0;
    float: right;
    cursor: pointer;
}
#head-search-button span{
	font-size: 17px;
    line-height: 24px;
    color: #616161;
}
#head-search-button:hover{
	background: #FF6700;
}
#head-search-button:hover span{
	color: #FFFFFF;
}
.sch:hover input{
	border: 1px solid #C0C0C0 !important;
}
.sch:hover div{
	border: 1px solid #C0C0C0 !important;
	border-left: 0 !important;
}
#con-body{
	width: 100%;
	height: 670px;
}
#con-body-main{
	width: 1226px;
	height: 670px;
	margin:0 auto;
}
#con-body-main-top{
	width: 1226px;
	height: 460px;
	position: relative;
}


.lunbo{
	width: 1226px;
	height: 460px;
	position: absolute;
	opacity: 0;
}
.point{
	position: absolute;
	width: 108px;
    left: auto;
    right: 34px;
    bottom: 24px;
}
.point ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.point li{
	float: left;
	margin: 0 4px;
	width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-color: hsla(0,0%,100%,.3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    opacity: 1;
	cursor: pointer; 
}
.atv{
	background: hsla(0,0%,100%,.4) !important;
    border-color: rgba(0,0,0,.4) !important;
}
#category{
	position: absolute;
	width: 234px;
	height: 460px;
	background: rgba(105,101,101,.6);	
}
#category ul{
	list-style: none;
	padding: 20px 0px;
	margin: 0;
}
#category li{
	height: 42px;
	font-size: 14px;
	line-height: 42px;
	position: relative;
	cursor: pointer;
}
#category li:hover{
	background: #FF6700;
}
#category li:hover div{
	display: block;
}
#category li>a{
	margin-left: 30px;
	color: #fff;
}
#category li>a:hover{
	text-decoration: none;
}
#category li>a:focus{
	text-decoration: none;
}
#category li>a>span{
	position: absolute;
    top: 13px;
    right: 21px;
    font-size: 14px;
    line-height: 14px;
    color: #e0e0e0;
}
#category li>div{
	position: absolute;
	background: #fff;
	height: 460px;
	width: 992px;
	max-width: 992px;
	left: 234px;
	border: 1px solid #e0e0e0;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	display: none;
	z-index: 10;
}

#prve-page{
	position: absolute;
    top: 195.5px;
    width: 41px;
    height: 69px;
    left: 234px;
    cursor: pointer;
    overflow: hidden;
}
#prve-page img{
	position: absolute;
	left: -83.5px;
}
#next-page{
	position: absolute;
    top: 195.5px;
    width: 41px;
    height: 69px;
    right: 0px;
    cursor: pointer;
    overflow: hidden;
}
#next-page img{
	position: absolute;
	left: -125px;
}

#con-body-main-bottom{
	margin-top: 14px;
	width: 1226px;
	height: 170px;
}
#bottom-left{
	float: left;
	width: 234px;
	height: 170px;
	background: #665e57;
}
#bottom-right{
	float: left;
	margin-left: 14px;
	width: 978px;
	height: 170px;
}
#bottom-right ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 978px;
	height: 170px;
}
#bottom-right ul li{
	float: left;
	margin-left: 15px;
	width: 316px;
	height: 170px;
}
#bottom-right ul li>a>img{
	width: 316px;
	height: 170px;
}
#bottom-left ul{
	margin: 0;
    padding: 3px;
    list-style: none;
    background: #5f5750;
    width:234px;
    height: 170px;
}
#bottom-left ul li{
	float: left;
	font-size: 12px;
    text-align: center;
    width: 76px;
    height: 82px;
    padding: 0 3px;
}
#bottom-left ul li a{
	display: block;
    padding-top: 18px;
    opacity: .7;
}
#bottom-left ul li a:link{
	color: #FFFFFF;
	opacity: .7;
}
#bottom-left ul li a:hover{
	color: #FFFFFF;
	text-decoration: none;
	opacity: 1;
}
#bottom-left ul li img{
	display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.page-main{
	width: 100%;
	padding-top: 4px;
    padding-bottom: 12px;
    background: #f5f5f5;
}
.page-con{
	width: 1226px;
	margin: 0 auto;
}
#page-con-top{
	width: 1226px;
	height: 398px;
	margin-bottom: 22px;
	background: darkorange;
}
#advert1{
	width: 1226px;
	height: 120px;
	margin: 22px 0;
    overflow: hidden;
}
#advert1 img{
	width: 1226px;
	height: 120px;
}
#page-con-phone{
	width: 1226px;
	height: 686px;
	margin-bottom: 8px;
	background: darkgoldenrod;
}
#phone-head{
	width: 1226px;
	height: 58px;
	background: red;
}
#phone-title-left{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
#phone-title-right{
	float: right;
	width: 92px;
	height: 58px;
	background: yellow;
}
